<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>{{project.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  {% load staticfiles %}
  <script src="{% static "js/jquery.timeago.js"%}"></script>
<style>

    .add-btn{
        margin-top: 20px;
        margin-left: 10px;
    }

  html {
  position: relative;
  min-height: 100%;
    }
    .table-responsive{
        padding: 20px;
    }

    {% load staticfiles %}
    .add_project a {
    padding-left: 0px;
    line-height: 30px;
    background-size: 30px;
    color: #000;
    text-decoration: none;
    }
    
    .header{
        margin-top: 100px;
        width:100%;
        background:#000000;
        padding-top:10px;
        padding-bottom: 10px;
        font-family: Calibre;
        font-style: bold;
        font-size: 20px;
        color: #eee;
    }
    .navbar li a, .navbar .navbar-brand { 
      color: #000 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
    
  .nav2{

    background: #d5d5d5;
  }
  
     .btn {
      padding: 10px 20px;
      color: #333;
      border-radius: 8px;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  
  .message-dialog{
    margin-top: 20px;
    padding-top:20px;
    padding-bottom: 30px;
    min-height: 100px;
    background-color: #DCDCDC;  
  }
    #errors{
    color: #ff0000 !important
    }
    #message-box{
        background-color: #fff;
        border: 1px solid black;
        min-height: 80px;
        max-height: 140px;
        overflow: scroll;
        overflow-x: hidden;
        width: inherit;    
    }
    #message-box ul{
        padding-left: 0px;
    }

    #message-box li{
        margin: 0px 10px;
        list-style-type: none;
    }
    #message{
        margin: 10px 0px;
        width: inherit;
        height: 40px;
        padding-left: 10px;

    }
    .send-message{
    margin-top: 10px;
    
    }
    ul#suggestion-box {
    position: absolute;
    padding-left: 0px;
  }
  
  #suggestion-box li{
    background: white;
    display: block;
    position: relative;
    border: 1px solid black;
    border-top: 0px;
    z-index: 2;
  }
  
    #suggestion-box li:hover{
    background: #3366BF;
    display: block;
    position: relative;
    border: 1px solid black;
    border-top: 0px;
    z-index: 2;
  }
    #suggestion-box li img{
    padding: 4px;
    display: inline;
  }
  
    #suggestion-box li p{
    padding: 4px;
    margin: 3px;
    display: inline;
  }
    
  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  footer li
  {
    list-style-type: none;
  }
  
    
</style>

<script>
jQuery(document).ready(function() {
  jQuery("time.timeago").timeago();
});
</script>
</head>
<body id="start" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">Sofza</a>
    </div>
</div>
<div class="nav2">

  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><a id="projects" href="/projects/">Projects</a></li>
        <li><a id="staff" href="/projects/staff/">Staff</a></li>
        <li><a id="analytics" href="/projects/analytics/">Analytics</a></li>
        <li><a id="invoices" href="/projects/invoices/">Invoices</a></li>
      </ul>
    </div>
  </div>
</div>

</nav>

<div class = "container-fluid header">
    <div class="row">
    <div class="col-sm-8">Milestones</div>
    <div class="col-sm-4 text-right">
        <time class="timeago" datetime={{updated}}>{{updated}}</time>
    </div>
    </div>
</div>

{% if user.is_superuser %}

<div class= "container-fluid">
<div class= "container add-btn">
    {% if not project.completed %}
    <div class="add_project">
	    <a href="#myModal" role="button" class="btn" data-toggle="modal" data-keyboard="true"><img src="{% static "images/add_project.png" %}" width="32px" height="32px"></img> New Milestone</a>
    {% endif%}
    
        <a class="btn" href="invoice"><img src="{% static "images/completed.png" %}" width="32px" height="32px"></img> Generate Invoice</a>
    
    {% if not project.completed %}
        <a href="#completeModal" role="button" class="btn" data-toggle="modal" data-keyboard="true"><img src="{% static "images/completed.png" %}" width="32px" height="32px"></img> Complete</a>
    {% endif%}
    </div>

</div>
{% endif %}

<!-- Pop-up Modal that will be displayed on clicking the add button-->
<div class>
    <div class="modal fade" id="myModal" role="dialog" tabindex=-1>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Milestone</h4>
                </div>
                <div class="modal-body">
                    
                    <p id="errors"></p>
                    <form action="" method="post" enctype="multipart/form-data" name ="milestone" onsubmit="return validateData()">
                    {% csrf_token %}
                    {{ form2.as_p }}
                    {{ form.as_p }}

                    <input type="submit" class="btn" value="Add" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Pop-up Modal that will be displayed on clicking the complete button-->
<div class>
    <div class="modal fade" id="completeModal" role="dialog" tabindex=-1>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">How was the project?</h4>
                </div>
                <div class="modal-body">
                <button id="success" class="btn btn-default" >Success!</button>
                <button id="failure" class="btn btn-primary" >Failure</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Table Section, need to be fixed-->
<div class ="container-fluid table-responsive">
    <table class= "table table-hover">
    <tr>
        <th>No.</th>
        <th>Task</th>
        <th>Start Date</th>
        <th>End Date</th>
        {% if user.is_superuser %}
        <th>Cost</th>
        {% endif %}
        <th>Last Updated</th>
    </tr>
    {% for milestone in milestones %}
        <tr>
        <td class ="serial"><a href=/projects/{{project.id}}/{{milestone.url_id}}></a></td>
        <td><a href=/projects/{{project.id}}/{{milestone.url_id}}>{{milestone.title}}</a></td>
        <td><a href=/projects/{{project.id}}/{{milestone.url_id}}>{{milestone.start_date}}</a></td>
        <td class="deadline"><a href=/projects/{{project.id}}/{{milestone.url_id}}>{{milestone.deadline}}</a></td>
        {% if user.is_superuser %}
        <td><a href=/projects/{{project.id}}/{{milestone.url_id}}>{{project.pay_type}}{{milestone.cost}}</a></td>
        {% endif %}
        <td><a href=/projects/{{project.id}}/{{milestone.url_id}}>{{milestone.last_updated}}</a></td>
    </tr>
    
    {% endfor %}
    {% if user.is_superuser %}
    <tr>
        <td></td>
        <td>Total</td>
        <td>{{project.cost}}</td>
        <td>Revenue</td>
        <td>{{project.revenue}}</td>
    </tr>
    {% endif %}
    </table>
</div>

</div>

<!-- Person Table Section-->
<div class ="container-fluid ">
    <div class= "row">
        <div class="col-sm-8 table-responsive">
        <table id="person_list" class= "table table-hover" >
        <tr>
            <th>Name</th>
            <th>Milestone</th>
            <th>Status</th>
            {% if user.is_superuser %}
            <th>Allocation</th>
            {% endif %}
        </tr>

        </table>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>  
</div>
{% if user.is_authenticated %}
<!--Message box-->
<div class="container-fluid message-dialog">
    <div id= "message-box">
    </div>
    <div class="row">
        <div class="col-sm-11">
        <input type="text" id="message" name="message" placeholder="Type a message"/>
        </div>
        <div class="col-sm-1">
        <button class="btn btn-primary send-message">Send</button>
        </div>
    </div>
    <div><ul id='suggestion-box'></ul></div>
</div>
{% endif %}
<footer class="footer text-right">
<div class=row>

  <div class= col-sm-10>
    <ul class="text-left">
       <li><a href="/site">Home</a></li>
       <li><a href="/site/portfolio/">Portfolio</a></li>
       <li><a href="#">About</a></li>
       <li><a href="#">Policy</a></li>
       <li><a href="/site/faq/">FAQ</a></li>
    </ul>
  </div>
    <div class= "col-sm-2">
      <a class="up-arrow" href="#start" data-toggle="tooltip" title="TO TOP">
    <img class="up-scroll" src="{% static "images/scroll.png" %}" width="64px" height="64px"></img>
  </a>
  </div>  
</div>
</footer>

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
{% if user.is_superuser %}
function validateData(){

    var start_m = parseInt(document.forms["milestone"]["start_date_month"].value);
    var end_m = parseInt(document.forms["milestone"]["deadline_month"].value);
    
    var start_d = parseInt(document.forms["milestone"]["start_date_day"].value);
    var end_d = parseInt(document.forms["milestone"]["deadline_day"].value);
    
    var start_y = parseInt(document.forms["milestone"]["start_date_year"].value);
    var end_y = parseInt(document.forms["milestone"]["deadline_year"].value);

    if (start_y> end_y || (start_y === end_y && start_m > end_m) ||(start_y === end_y && start_m === end_m && start_d > end_d)){
        $("#errors").html("Invalid dates, can't end before start!");
        return false;
    }
}
{% endif %}
 var mentions =[];

$(document).ready(function(){

$(this).attr("data-name")
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip(); 


  //Add Deadlines
  $('td.deadline a').bind('change keyup', function(){
        var tr=$(this).closest('tr');

        var deadline = new Date($(this).text());
        var today = new Date();
        today.setHours(0,0,0,0);
        
       if(!tr.hasClass('success'))
        {
            if (deadline.valueOf() === today.valueOf())
            {
                tr.addClass('warning');
            }   
            else if(deadline<today)
            {
                tr.addClass('danger');
            }

        }
    }).trigger('change');
    
    //Adding serial numbers
    var counter =1; 
    $('td.serial a').bind('update keyup', function(){
        var tr=$(this).closest('tr');
        $(this).text(counter);
        counter++;
    }).trigger('update');

    //Adding Suggestion list clicks
    //Attach event to suggestion list
    $('ul#suggestion-box').on('click','li' ,function(){
   console.log(mentions);
   mentions.push($(this).attr("data"));
   var value = $('#message').val();
   var list = value.split(" ");
   list[list.length-1] = $(this).attr("data-name");
   var text = list.join(" ");
   $('#message').val(text);
   
   $('#suggestion-box').html("\n");
    });



  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#start']").on('click', function(event) {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){
   
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });
  });
{% if user.is_superuser %}
  //Load Persons working on this project
  $('#person_list').bind('change', function(){
        $.ajax({
            url: "/projects/list/{{project.id}}/",
            success: function(data){
            rows=""
            for(var i =0; i<data.length; ++i)
            {
                var td_s = "<td>";
                var td_e = "</td>";
                var tr_s = "<tr>";
                var tr_e = "</tr>";
                
                if(data[i]){
                    col = td_s + data[i]['person'] + td_e
                    col1= td_s + data[i]['milestone'] + td_e
                    col2= td_s + data[i]['active'] + td_e
                    row = col+ col1+ col2
                    {% if user.is_superuser %}
                        col3= td_s + data[i]['cost'] + td_e
                        row += col3
                    {% endif %}
                    rows += tr_s + row + tr_e
                    
                }
            }
            $('#person_list').append(rows)
          }

        });
  }).trigger('change');
{% endif %}


  //Update the message box
  setInterval(message_box, 30000);
  function message_box() {
    console.log("Refreshed");
    $("#message-box").load('/projects/get/{{project.id}}/30');
    updateScroll();
    }
    function updateScroll(){
        var position =  $("#message-box")[0].scrollHeight;
        console.log(position);
         $("#message-box")[0].scrollTop= position;
    }
  
  //Load Once at start
  message_box();
});
{% if user.is_superuser %}
$('#success').click(function() {
    console.log("Executed Success");
    $.ajax({
        url: window.location,
        method: 'GET', // or another (GET), whatever you need
        data: {
            // data you need to pass to your function
            success:"True"
        },
        success: function (data) {
            console.log("Executed");
            location.reload();
        }
    });
  });
  
$('#failure').click(function() {
    console.log("Executed Fail");

    $.ajax({
        url: window.location,
        method: 'GET', // or another (GET), whatever you need
        data: {
            // data you need to pass to your function
            fail:"True"
        },
        success: function (data) {
            console.log("Executed");
            location.reload();
        }
    });
  });
  
/*
$('.complete').on('click', function(){
    console.log("This")
    console.log("{{project.id}}");
    $.ajax({
        url:'/projects/{{project.id}}',
        method: 'GET', // or another (GET), whatever you need
        data: {
            //name: value
            // data you need to pass to your function
            click: "True"
        },
        success: function (data) {
            console.log("Executed");
            window.location = '/projects/';
        }
    });
  
  });
  */
  {% endif %}
$('.send-message').click(function(){
    console.log("Send");
    message= $('#message').val();
    $.ajax({
        url: "/projects/send/{{project.id}}/",
        method:'POST',
        data: JSON.stringify({
         message: message,
         mentions: mentions
        }),
        contentType: "application/json",
        success: function(){
        console.log("Clearing");
        $('#message').val("");
        text = "<li class=\"text-right\">" + message +"</li>";
        $('#message-box').append(text);
        mentions = [];
        }
    });
});  

$('#message').keypress(function (e) {
 var key = e.which;
 if(key == 13)  // Send on Enter
  {
    message= $('#message').val();
    $.ajax({
        url: "/projects/send/{{project.id}}",
        method:'GET',
        data:{
         message: message
        },
        success: function(){
        console.log("Clearing");
        $('#message').val("");
        text = "<li> You: " + message +"</li>"
        $('#message-box').append(message);
        }
    });
  }
  
  else    //Suggest on '@'
  {
    var value = $(this).val();
    var list = value.split(" ");
    var query = list[list.length-1];
    console.log(query);
    if(query[0]==='@'){
    query = query.slice(1)
    $.get('/projects/suggest_staff/', {'suggestion': query}, function(data){
         console.log(data)
         if (data[0]){
            div=""
            for(i=0; i<data.length; ++i){
            console.log(i)
            view ="<p>"+ data[i]["fields"]["full_name"]+"</p>";
            view +="<p>"+data[i]["fields"]["type"]+"</p>"
            img = "<img src=/media/" +data[i]["fields"]["picture"]+ " width=40px height=40px></img>"; 
            list= "<li data=\"" +data[i]["fields"]["user"]+"\" data-name= \""+data[i]["fields"]["full_name"]+"\">"+img + view +"</li>"
            div += "<div>"+list+"</div>"
            $('#suggestion-box').html(div);}
            }
         else{
            $('#suggestion-box').html("\n");
         }
        }, "json");
    }
    else{
    $('#suggestion-box').html("\n");
    
    }
  }
  
});

document.getElementById("projects").onclick = function () {
    location.href = "/projects/";
};

document.getElementById("analytics").onclick = function () {
    location.href = "/projects/analytics";
};

document.getElementById("invoices").onclick = function () {
    location.href = "/projects/invoices";
};

document.getElementById("staff").onclick = function () {
    location.href = "/projects/staff";
};

</script>
</body>
