{% extends 'mysite/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block import %}
<link rel="stylesheet" href="{% static "css/index.css" type="text/css"%}">
<style>
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
.container > .img{
    padding: 20px 20px 20px 20px;
    display: inline;
}

.holder h3{
    color: #fff;
    padding-top: 15px;
}
.jumbotron{
    background-color:#fff;
}

.message{
        width:100%;
        background:#ddd;
        padding-top:30px;
        padding-bottom: 20px;
        font-family: Calibre;
        font-style: bold;
        font-size: 20px;
        color: #111;
    } 

</style>
{% endblock %}


{% block body %}

<div >

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="{% static "images/cars3.jpg" %}" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static "images/cars2.jpg" %}" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
      <div class="item">
        <img src="{% static "images/cars4.jpg" %}" alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

      <div class="item">
        <img src={% static "images/cars1.jpg" %} alt="Flower" width="460" height="345">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="jumbotron text-center">

    <div class= "container">
        <div class="img">
            <img src="{% static "images/img1.jpg" %}" class="img-rounded" >
        </div>
        <div class="img">
            <img src="{% static "images/img2.jpg" %}" class="img-rounded" >
        </div>
        <div class="img">
            <img src="{% static "images/img3.jpg" %}" class="img-rounded" >
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row text-center">
    <h1>Lorem Ipsum</h1>
    <div class= "col-sm-4">
        <div class="holder">
            <img src="{% static "images/img4.jpg" %}" class="img-rounded" >
            <h3>Lorem Ipsum</h3>
        </div>
    </div>

    <div class= "col-sm-4">
        <div class="holder">
            <img src="{% static "images/img4.jpg" %}" class="img-rounded" >
            <h3>Lorem Ipsum</h3>
        </div>
    </div>

    <div class= "col-sm-4">
        <div class="holder">
            <img src="{% static "images/img4.jpg" %}" class="img-rounded" >
            <h3>Lorem Ipsum</h3>
        </div>
    </div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row text-center">
    
    <div class= "col-sm-4">
        <div class="holder">
            <img src="{% static "images/img4.jpg" %}" class="img-rounded" >
            <h3>Lorem Ipsum</h3>
        </div>
    </div>

    <div class= "col-sm-4">
        <div class="holder">
            <img src="{% static "images/img4.jpg" %}" class="img-rounded" >
            <h3>Lorem Ipsum</h3>
        </div>
    </div>

    <div class= "col-sm-4">
        <div class="holder">
            <img src="{% static "images/img4.jpg" %}" class="img-rounded" >
            <h3>Lorem Ipsum</h3>
        </div>
    </div>
    </div>
</div>

<div class = "container-fluid message text-center">
    <p>SECTION</p>
    <br>
    <br>
    <p>Message</p>
</div>

{% endblock %}
