{% extends 'mysite/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block import %}
<link rel="stylesheet" href="{% static "css/index.css" type="text/css"%}">
<style>


.jumbotron{
    background-color:#fff;
    margin: 0px
}

.jumbotron.text-center {
    overflow: hidden;
}
.portfolio{
    background: #2d2d30;
    color: #bdbdbd;
    padding: 80px 120px;
}
.portfolio h3 {color: #fff;}
.portfolio p {font-style: italic;}

.message{
        width:100%;
        background:#fff;
        padding-top:30px;
        padding-bottom: 20px;
        font-family: Calibre;
        font-weight: bolder;
        font-size: 20px;
        color: #111;
    } 



#swap, #swap-quote {
    vertical - align: top;
    width: 0;
    height: 3em;
 /* needed. px, em or any other */;
}

#swap > span {
    position: absolute;
}

#swap-quote > span {
    position: absolute;
    font-weight: bold;
}

.thumbnail{
    background-image: url("{% static "images/design4.jpg" %}");
    background-size: contain;
    padding-bottom:0px;
    margin-bottom:30px;
}

.thumbnail>img:hover{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.thumbnail>p{
    margin:0px;
    padding:10px 0px;
    
    background-color: white;
}
</style>

{% endblock %}

{% block body %}


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="{% static "images/cars3.jpg" %}" alt="Flower">
        <div class="carousel-caption">
          
        </div>
      </div>

      <div class="item">
        <img src="{% static "images/cars2.jpg" %}" alt="Flower">
        <div class="carousel-caption">
                  </div>
      </div>
      <div class="item">
        <img src="{% static "images/cars4.jpg" %}" alt="Flower">
        <div class="carousel-caption">
          </div>
      </div>

      <div class="item">
        <img src={% static "images/cars1.jpg" %} alt="Flower" >
        <div class="carousel-caption">
          </div>
      </div>
  
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<div class="jumbotron text-center">

    <div>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class= "row">
        <div class="col-sm-4">
            <img src="{% static "images/img1.jpg" %}" >
        </div>
        <div class="col-sm-4">
            <img src="{% static "images/img2.jpg" %}" >
        </div>
        <div class="col-sm-4">
            <img src="{% static "images/img3.jpg" %}" >
        </div>
    </div>
</div>

<!--Portfolio-->
<div class="container-fluid portfolio">
    <h2 class="text-center">LOREM IPSUM</h2>
    <br>
    <br>
    <div class="row text-center">
        <div class="col-sm-4">
        <div class="thumbnail">
            <img src="{% static "images/design1.jpg" %}"/>
            <p><strong>Lorem ipsum</strong></p>
        </div>
        </div>
        <div class="col-sm-4">
        <div class="thumbnail">
            <img src="{% static "images/design2.jpg" %}"/>
            <p><strong>Lorem ipsum</strong></p>
            </div>
            </div>
        <div class="col-sm-4">
        <div class="thumbnail">
            <img src="{% static "images/design3.jpg" %}"/>
            <p><strong>Lorem ipsum</strong></p>
        </div>
        </div>
    </div>


<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design5.jpg" %}"/>
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design5.jpg" %}"/>
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design6.jpg" %}"/>
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
 </div>

 </div>
</div>

<!--Reviews Section -->
<div class = "container-fluid message">
    <p id="customer-name" ><span id="swap"></span></p>
    <span id="swap-quote"></span></p>
</div>
<script>
/*Shamless copying from Stack Overflow ;)*/
var txt = ['code', 'solutions', 'design', 'awesomeness'],
    n = txt.length,
    $swap = $('#swap'),
    $span,
    c = -1;

// CREATE SPANS INSIDE SPAN
for(var i=0; i<txt.length; i++) $swap.append($('<span />',{text:txt[i]}));
// HIDE AND COLLECT THEM
$span = $("span", $swap).hide(); 

(function loop(){
    c = ++c % n;
    $swap.animate({width: $span.eq( c ).width() });
    $span.stop().fadeOut().eq(c).fadeIn().delay(3000).show(0, loop);
}());

var txt2 = ['We own it', 'Hala Sofza', 'We the boss', 'Us for the world'],
    len = txt2.length,
    $swap_quote = $('#swap-quote'),
    $span_quote,
    d = -1;

// CREATE SPANS INSIDE SPAN
for(var i=0; i<txt.length; i++) $swap_quote.append($('<span />',{text:txt2[i]}));
// HIDE AND COLLECT THEM
$span_quote = $("span", $swap_quote).hide(); 

(function loop(){
    d = ++d % len;
    $swap_quote.animate({width: $span_quote.eq( d ).width() });
    $span_quote.stop().fadeOut().eq(d).fadeIn().delay(3000).show(0, loop);
}()); 
</script>
{% endblock %}
