{% extends 'mysite/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block import %}
<link rel="stylesheet" href="{% static "css/index.css" type="text/css"%}">
<style>

.holder h3{
    color: #fff;
    padding-top: 15px;
}
.jumbotron{
    background-color:#fff;
    margin: 0px
}
.portfolio{
    padding: 80px 120px;
}
.message{
        width:100%;
        background:#ddd;
        padding-top:30px;
        padding-bottom: 20px;
        font-family: Calibre;
        font-style: bold;
        font-size: 20px;
        color: #111;
    } 

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}

.thumbnail{
    border-radius: 8px;
}
</style>

{% endblock %}

{% block body %}


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="{% static "images/cars3.jpg" %}" alt="Flower">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static "images/cars2.jpg" %}" alt="Flower">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
      <div class="item">
        <img src="{% static "images/cars4.jpg" %}" alt="Flower">
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>

      <div class="item">
        <img src={% static "images/cars1.jpg" %} alt="Flower" >
        <div class="carousel-caption">
          <h3>Flowers</h3>
          <p>Beatiful flowers in Kolymbari, Crete.</p>
        </div>
      </div>
  
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<div class="jumbotron text-center">

    <div>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class= "row">
        <div class="col-sm-4">
            <img src="{% static "images/img1.jpg" %}" >
        </div>
        <div class="col-sm-4">
            <img src="{% static "images/img2.jpg" %}" >
        </div>
        <div class="col-sm-4">
            <img src="{% static "images/img3.jpg" %}" >
        </div>
    </div>
</div>

<div class="bg-1">
  <div class="container portfolio">
    <h2 class="text-center">LOREM IPSUM</h2><!--
    <p class="text-center">Lorem ipsum we'll play you some music.<br></p>
--><br>
    <br>
    <div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design1.jpg" class="img-rounded" %}" >
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design2.jpg" class="img-rounded" %}" >
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design3.jpg" class="img-rounded" %}">
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
</div>


<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design5.jpg" class="img-thumbnail" %}" >
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design5.jpg" class="img-thumbnail" %}" >
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{% static "images/design6.jpg" class="img-thumbnail" %}">
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>
 </div>

 </div>
</div>


<div class = "container-fluid message text-center">
    <p>SECTION</p>
    <p>Message</p>
</div>

{% endblock %}
