{% extends 'mysite/base.html' %}
{% load staticfiles %}

{% block title%}Portfolio{% endblock %}

{% block import%}
<link rel = "stylesheet" href="{% static "css/portfolio.css"%}" type ="text/css">
{% endblock %}

{% block body %}
<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">Projects</h3>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{% static "images/paris.jpg" %}" alt="Paris" width="400" height="300">
          <p><strong>Paris</strong></p>
          <p>Friday 27 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{% static "images/paris.jpg" %}" alt="New York" width="400" height="300">
          <p><strong>New York</strong></p>
          <p>Saturday 28 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="{% static "images/as.jpg" %}" alt="San Francisco" width="400" height="300">
          <p><strong>San Francisco</strong></p>
          <p>Sunday 29 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
